
<%= form_for [:admin, @category, @page] do |f| %>

  <div class="form-control-static">
    <%= f.text_field :title, :placeholder => "新闻标题", :class => "form-control" %>
  </div>

  <%= f.kindeditor :content %>

  <div class="form-control-static">
    <%= f.submit "保存", :class => "btn btn-primary" %>
  </div>

<% end %>