
<h3>页头</h3>
<%= simple_form_for [:admin, Settings], :as => :settings, :url => admin_setting_path(0), :method => :put, :html => {:class => "form-horizontal"} do |f| %>
  <%= f.input :site_name %>
  <%= f.input :site_logo_file, :as => :file %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit, :value => "保存" %>
    </div>
  </div>
<% end %>