
<header id="header">
  <div class="ym-wrapper">
    <div class="ym-wbox">
      <h1><a href='/'><%= image_tag Settings.site_logo if Settings.site_logo.present? %><%= Settings.site_name %></a></h1>
    </div>
  </div>
</header>