
<nav id="nav">
  <div class="ym-wrapper">
    <div class="ym-hlist">
      <ul>
        <%= nav_links %>
      </ul>
      <form class="ym-searchform">
        <input type="search" placeholder="搜索..." class="ym-searchfield">
        <input type="submit" value="搜索" class="ym-searchbutton">
      </form>
    </div>
  </div>
</nav>